[Unit]
Description=Starts my web server on port 8080
ConditionPathExists=/home/admin/
After=cloud-final.service

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/
ExecStart=java -jar /home/admin/csye6225-0.0.1-SNAPSHOT.jar
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225


[Install]
WantedBy=cloud-init.service
